{% extends '@ibexadesign/pagelayout.html.twig' %}

{% block content %}
    <p>
        <a href="{{ path("all_cars_page") }}">wszystkie samochody</a>
    </p>
    <div class="col-xs-10 col-xs-offset-1 text-justified">
        <p>
            indywidualne oferty:
        </p>
            {% for dealership in dealerships.currentPageResults %}
                {{ ibexa_render(dealership.valueObject, {'viewType': 'line'}) }}
            {% endfor %}
    </div>
{% endblock %}