        <div><a href="{{ path( "ibexa.url.alias", { 'locationId': content.contentInfo.mainLocationId } ) }}" target="_self">
                <strong>
                    {{ content.name }}
                </strong>
            </a>

{#            <p>#}
{#                {{ ibexa_render_field(content, 'address') }}#}
{#            </p>#}
{#            <div>#}
{#                {{ ibexa_render_field(content, 'dealership_location', {'parameters': {'width': '30%', 'height': '200px', 'showMap': true, 'showInfo': false }}) }}#}
{#            </div>#}
        </div>
