<div>
    <a href="{{ path( "ibexa.url.alias", { 'locationId': content.contentInfo.mainLocationId } ) }}" target="_self">
        <strong>
            {{ content.name }}
        </strong>
    </a>
{#    <p>#}
{#        {{ ibexa_render_field(content, '') }}#}
{#    </p>#}
</div>
