
{% extends '@ibexadesign/pagelayout.html.twig' %}

{% block content %}
<div>
    <p>
        {{ ibexa_render_field(content, 'address') }}
    </p>
    <div>
        {{ ibexa_render_field(content, 'dealership_location', {'parameters': {'width': '30%', 'height': '200px', 'showMap': true, 'showInfo': false }}) }}
    </div>
</div>
{% endblock %}